<!DOCTYPE html>

<html>
    <head>
        <link href="../../Content/yellowing/style.css" rel="stylesheet" type="text/css" />

        <title>Home</title>
    </head>
    <body>

        <div id="wrapper">
	        <div id="header">
		        <div id="logo">
			        <h1>Ordering System</h1>
		        </div>
	        </div>

	        <div id="page">
		        <div id="page-bgtop">
			        <div id="page-bgbtm">
				        <div id="menu">
					        <ul>
						        <li class="current_page_item"><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li><a href="@Url.Action("Index","Order")">Order</a></li>
                                <li><a href="@Url.Action("ViewPastOrders","Order")">Past Orders</a></li>
					        </ul>
				        </div>

				        <div id="content">
					        <div class="post">
						        <h2 class="title"><a href="#">Welcome to our order system refactoring</a></h2>
						    <div class="entry">
							    <p>
                                    <img src="../../Content/yellowing/images/img05.jpg" width="143" height="143" alt="" class="alignleft border" />
                                    Bacon ipsum dolor sit amet sunt non et, adipisicing pig meatloaf commodo ex proident pancetta ground round nisi shoulder. Capicola swine in venison sunt filet mignon. Cupidatat do in ut incididunt esse drumstick swine culpa exercitation. Swine irure enim, magna elit quis andouille t-bone nulla shank nisi hamburger fugiat consectetur.

                                    Commodo id jowl porchetta leberkas. Chuck ullamco ball tip ad, sausage fatback turkey minim duis irure jerky. Esse in venison nulla laborum, sint boudin prosciutto sunt biltong elit enim porchetta leberkas. Ad drumstick jerky culpa turkey.
                                </p>
						    </div>
					    </div>
					    <div style="clear: both;">&nbsp;</div>
				    </div>
				    <!-- end #content -->
				    <div id="sidebar">
				        <ul>
						    <li>
							    <h2>Aliquam tempus</h2>
							    <p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
						    </li>
						    <li>
							    <h2>Categories</h2>
							    <ul>
								    <li><a href="#">Aliquam libero</a></li>
								    <li><a href="#">Consectetuer adipiscing elit</a></li>
								    <li><a href="#">Metus aliquam pellentesque</a></li>
								    <li><a href="#">Suspendisse iaculis mauris</a></li>
								    <li><a href="#">Urnanet non molestie semper</a></li>
								    <li><a href="#">Proin gravida orci porttitor</a></li>
							    </ul>
						    </li>
						    <li>
							    <h2>Blogroll</h2>
							    <ul>
								    <li><a href="#">Aliquam libero</a></li>
								    <li><a href="#">Consectetuer adipiscing elit</a></li>
								    <li><a href="#">Metus aliquam pellentesque</a></li>
								    <li><a href="#">Suspendisse iaculis mauris</a></li>
								    <li><a href="#">Urnanet non molestie semper</a></li>
								    <li><a href="#">Proin gravida orci porttitor</a></li>
							    </ul>
						    </li>
						    <li>
						    <h2>Archives</h2>
							    <ul>
								    <li><a href="#">Aliquam libero</a></li>
								    <li><a href="#">Consectetuer adipiscing elit</a></li>
								    <li><a href="#">Metus aliquam pellentesque</a></li>
								    <li><a href="#">Suspendisse iaculis mauris</a></li>
								    <li><a href="#">Urnanet non molestie semper</a></li>
								    <li><a href="#">Proin gravida orci porttitor</a></li>
							    </ul>
						    </li>
					    </ul>
				    </div>
				    <div style="clear: both;">&nbsp;</div>
			    </div>
		    </div>
	    </div>
	</div>
    </body>
</html>