@{
    ViewBag.Title = "Index";
    ViewBag.app = "ShoppingCart";
    ViewBag.js = "app.cart.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <form id="mainForm" name="mainForm" ng-controller="CartController" data-ng-init="GetProducts()">
        <div ng-show="OrderComplete == false">
            <h1>Items available to purchase</h1>
            <table width="100%">
                <tr>
                    <th align="left" ng-repeat="header in ProductHeaders">
                        {{header}}
                    </th>
                </tr>
                <tr ng-repeat="(index, product) in Products">
                    <td >{{product.description}}</td>
                    <td >{{product.price | currency:"$":2}}</td>
                    <td ><input type="number" name="quantity" ng-model="Products[index].quantity" ng-init="Products[index].quantity=1" style="width: 50px;" required/></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                </tr>
			    <tr>
                    <td></td>
                    <td></td>
				    <td><button ng-click="AddProducts()" ng-disabled="mainForm.$invalid">Add to Order</button></td>
			    </tr>
            </table>
        </div>

        <div ng-show="CartEmpty == false && OrderComplete == false">
            <h1>Items to Order</h1>
            <table width="100%">
                <tr>
                    <th align="left" ng-repeat="header in CartHeaders">
                        {{header}}
                    </th>
                </tr>
                <tr ng-repeat="item in CartItems">
                    <td >{{item.description}}</td>
                    <td >{{item.price | currency:"$":2}}</td>
                    <td >{{item.quantity}}</td>
                    <td >{{item.total | currency:"$":2}}</td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                </tr>
			    <tr>
                    <td></td>
                    <td></td>
                    <td></td>
				    <td style="border-top: 1px solid #CCC; padding: 10px 0px;">{{CartTotal | currency:"$":2}} <strong>Total</strong></td>
			    </tr>
			    <tr>
                    <td></td>
                    <td></td>
                    <td></td>
				    <td><button ng-click="CheckOut()" ng-disabled="mainForm.$invalid">Check Out</button> <button ng-click="EmptyCart()">Empty Cart</button></td>
			    </tr>
            </table>
        </div>

        <div ng-show="OrderComplete == true">
            <h1>Thank You</h1>
            Thank you for your order and email has been sent with details of your order.         
            Your order number is {{OrderID}}
        </div>
    </form>
</div>