@{
    ViewBag.Title = "Past Orders";
    ViewBag.app = "OrderRepository";
    ViewBag.js = "app.orders.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <form id="mainForm" name="mainForm" ng-controller="OrderController" data-ng-init="GetOrders()">
        <table width="100%" ng-show="Orders.length > 0">
            <tr>
                    <th align="left" ng-repeat="header in OrderHeaders">
                    {{ header }}
                </th>
            </tr>
            <tr ng-repeat="(index, order) in Orders">
                <td >{{ order.id }}</td>
                <td >{{ GetTotalItems(index) }}</td>
                <td >{{ GetOrderTotal(index) | currency:"$":2 }}</td>
            </tr>
        </table>
        <div ng-show="Orders.length == 0">No Orders Found</div>
    </form>
</div>